@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Hachi+Maru+Pop&family=Linefont:wght@200&family=Playpen+Sans:wght@500&family=Quicksand:wght@600&family=Roboto+Mono&family=Zen+Kaku+Gothic+New:wght@500&display=swap');

/* Reset */
* {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* 選択させない */
*:not(input) {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* フォント */
html,
body {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

h1 {
  user-select: none;
  margin-bottom: 50px;
}

/* 雪 */
#snow_particlesjs {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* ゆきだるま */
#snow-man {
  animation: swing 2s 2s ease-in-out infinite alternate;
  position: absolute;
  width: 20vh;
  height: auto;
  bottom: 20px;
  left: 50%;
  z-index: 1;
}

/* ゆきだるまのアニメーション */
@keyframes swing {

  0%,
  100% {
    transform-origin: bottom center;
  }

  50% {
    transform: rotate(-3deg);
  }
}

#snow-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 255, 255);
}

/* to do */
#todo-area {
  white-space: nowrap;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 65%;
  width: 60%;
  max-width: 500px;
  overflow-y: auto;
  background: #fffaf0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(216, 216, 216, 0.619);
  z-index: 100;
}

#todoInput {
  width: 40%;
}

#todoInput,
#addButton {
  font-family: "Hachi Maru Pop", cursive;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#todoList {
  font-family: "Hachi Maru Pop", cursive;
  text-align: center;
  list-style: none;
  padding: 0;
}

#todoList li {
  max-width: 45%;
  cursor: pointer;
  border-radius: 20px;

  background: #ffefc1;
  margin: 8px auto;
  padding: 10px;
  border-radius: 5px;
}
